{% extends 'base.html' %} 

<head>
    <title>{% block title %}Voc{% endblock %}</title>
     {% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     {% endblock %}
</head>

{% block content %}



<body class="vocaba">

    <div class="vocontent">
        {% for x in msg %}
        <h4>{{x}}</h4>
        {% endfor %}
        <div class="word">
            <h3>Good Left
             {% for i in range(137) %}
            {{i}} WONDERFUL THINGS
            {% endfor %}</h3>
        </div>
        <div class="meaning">
            <h5>Great Middle
             {% for i in range(371) %}
            {{i}} WONDERFUL THINGS
            {% endfor %}</h5>
        </div>
        <div class="note">
            <h3>Good Right
             {% for i in range(137) %}
            {{i}} WONDERFUL THINGS
            {% endfor %}</h3>
        </div>
    </div>

</body>

{% endblock %}