{% extends 'base.html' %} 
{% block title %}Voc{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vocab.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vocab.js') }}"></script>
{% endblock %}

{% block content %}

<body class="vocaba">
    <div>
        <div class="epilog">{% for x in msg %}<h5>{{x}}</h5>{% endfor %}</div>

        <div class="word">
            <button class="tabs" onclick="openDict(event, 'London')">London</button>
            <button class="tabs" onclick="openDict(event, 'Paris')">Paris</button>
            <button class="tabs" onclick="openDict(event, 'Tokyo')">Tokyo</button>
        </div>
        
        <div id="London" class="meaning">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
        </div>
        
        <div id="Paris" class="meaning">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
        </div>
        
        <div id="Tokyo" class="meaning">
            <h3>Tokyo</h3>
            <p>Tokyo is the capital of Japan.</p>
        </div>
        
        <div class="idiom">
            <button class="tabs" onclick="openIdio(event, 'London')">London</button>
            <button class="tabs" onclick="openIdio(event, 'Paris')">Paris</button>
            <button class="tabs" onclick="openIdio(event, 'Tokyo')">Tokyo</button>
        </div>

    </div>
</body>

{% endblock %}