{% extends 'base.html' %} {% block content %}
<html>
    
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/analysis.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $("p").click(function(){
                    $(this).hide();
                    {{ probe() }};
                });
            });
        </script>
        <script>
            $(function () {
                $('a#process').bind('click', function () {
                    $.getJSON('/analysis_process', {
                        //stat: $('input[name="stat"]').val() //detecting input
                    }, function (dat) {
                        $('#res').text(dat.lottery);
                    });
                    return false;
                });
            });
        </script>
        
    </head>
 
    <body class="analysis">
        
        <p>If you click on me, I will disappear.</p>
        <p>Click me away!</p>
        <p>Click me too!</p>
        <p>PHP not working on FLASK!</p>
        <p>Remember that!</p>
        
        
        <form method='POST' class='dataform'>
            <input class="button buttonmeasure" type='submit' name='rough' value='ROUGHEE'/>
            <input class="button buttonmeasure" type='submit' name='smooth' value='SMOOTHEE'/>
        </form>

        <form method='GET'>
            <input type="text" name='stat' value="5" />
            <a href=# id='process'><button>Submit Factor</button></a>
        </form>
        <p id='res'>answer?</p>
        
        <div style="width:75%;">

            <h5>factor: {{ factor }}</h5>
            <h5>jdata: {{ jdata }}</h5>
            <h5>sdata: {{ sdata }}</h5>
            <h5>idr: {{ idr }}</h5>
            <h5>ids: {{ ids }}</h5>

            <h5 id="counter"></h5>
            <h5 id="countera"></h5>
            <canvas id="canvas01" style="display: block; width: 1000px; height: 500px;" width="1000" height="500" class="chartjs-render-monitor"></canvas>
            {% for item in data %}
                <script>
                    document.getElementById("counter").innerHTML = "COUNT: " + {{item[0] + 1}};
                    document.getElementById("countera").innerHTML = "Y: " + {{item[1]['y']}};
                    myPlot("canvas01", {{item[1]['x']}}, {{item[1]['y']}});
                </script>   
            {% endfor %}    
        </div>
        
    </body>
    
</html>
{% endblock %}