{% extends 'base.html' %} {% block content %}
<html>
    
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/analysis.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
        <script>
            $(document).ready(function(){
                $("p").click(function(){
                    $(this).hide();
                });
            });
        </script>
        <script type=text/javascript>
            $(function() {
                $('a#process_input').bind('click', function() {
                $.getJSON('/analysis_process', {
                    stat: $('input[name="stat"]').val(),
                }, function(data) {
                    $("#result").text(data.result);
                });
                return false;
                });
            });
        </script>
    </head>
 
    <body class="analysis">
        
        <p>If you click on me, I will disappear.</p>
        <p>Click me away!</p>
        <p>Click me too!</p>
        
        <form method='POST' class='dataform'>
            <input class="button buttonmeasure" type='submit' name='analysis' value='ANALYSIS'>
            <input class="button buttonmeasure" type='submit' name='res' value='RESET'>
        </form>

        <form>
            <input type=text size=5 name=stat>
            <a href=# id=process_input><button class='btn btn-default'>Submit</button></a>
        </form>
        
        
        <div style="width:75%;">
            <p id=result></p>
            <h5>{{ people }}</h5>
            <h5 id="counter"></h5>
            <h5 id="countera"></h5>
            <canvas id="canvas01" style="display: block; width: 1000px; height: 500px;" width="1000" height="500" class="chartjs-render-monitor"></canvas>
            {% for item in data %}
                <script>
                    document.getElementById("counter").innerHTML = "COUNT: " + {{item[0] + 1}};
                    document.getElementById("countera").innerHTML = "Y: " + {{item[1]['y']}};
                    myPlot("canvas01", {{item[1]['x']}}, {{item[1]['y']}});
                </script>   
            {% endfor %}    
        </div>
        
    </body>
    
</html>
{% endblock %}