{% extends 'base.html' %} 

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New</a> {% endif %} 
{% endblock %} 

{% block content %} 
<html>
    
<body class="home">
{% for post in posts %}
<article class="post">
    <header>
        <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a> {% endif %}
    </header>
    <p class="body">{{ post['body'] }}</p>
</article>
{% if not loop.last %}
<hr> {% endif %} {% endfor %} 

<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        // setup some json to use
        var cars = [
            { "make": "Porsche", "model": "911S" },
            { "make": "Mercedes-Benz", "model": "220SE" },
            { "make": "Jaguar", "model": "Mark VII" }
        ];

        var CARS = { "make": "Mercedes-Benz", "model": "220SE" };

        window.onload = function () {
            // setup the button click
            document.getElementById("theButton").onclick = function () {
                postdata()
            };
        }

        function postdata() {
            // ajax the json to the server
            $.post("/listen", CARS)
            .done(function(data){
                alert("Data loaded: " + data);
            });
            // stop link reloading the page
            event.preventDefault();
        }

        
    </script>
    
    <h3>This will send data using AJAX to PYTHON</h3>
    <h4>(Not working atm)</h4>
    <a href="/" id="theButton">CLICK ME</a>
    
</div>

</body>
</html>
{% endblock %}