html {
    font-family: sans-serif;
}

html, body {
    max-width: 1200;
    margin: -16px;
    padding: 16px;
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    color: #377ba8;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a {
    color: #377ba8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar {
    width: 100%;
    height: fit-content;
    background-color: #333333;
}


.navbar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    margin: 0;
    padding: 0;
}


.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

.navbar ul li a:hover {
    background-color: chartreuse
}


.home a.home, .exp a.exp, .analysis a.analysis, .calib a.calib, .scatter a.scatter, .vocaba a.vocaba, .steform a.steform {
  background: darkblue;
  color:white;
}

.reg a.reg, .log a.log {
    font-weight: 1000;
    color: darkred;
}


.aleft {
    float: left;
    width: 30%;
    background: blue;
    height: 100vh;
    overflow-y: scroll;
}

.aright {
    width: 70%;
    float: left;
    background: white;
    height: 100vh;
    overflow-y: scroll;
}

/* Main content extended from base */
.content {
    padding: 0;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}



.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post > header > div:first-of-type {
    flex: auto;
}

.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

/*Stepform*/
/****** Genral CSS ******/

.stepform {
  padding: 20px;
  background: #fafbfc;
  border: 1px solid #cfd6e7;
}

/*************** Plugin ***************/


.sf-wrapper { overflow: hidden; }

.sf-container { overflow: hidden; }

.sf-step.sf-active { margin: 10px 0; }

.sf-step { float: left; }

.sf-error { color: #DD0000; }

.sf-navigation {
  line-height: 1em;
  overflow: hidden;
  text-align: right;
}

.sf-navigation .nav-prev, .sf-navigation .nav-next {
  display: block;
  padding: 8px 15px;
  border: 1px solid #CCCCCC;
  color: #000;
  background: #FFFFFF;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
}

.sf-navigation .nav-prev {
  opacity: .5;
  float: left;
}

.sf-navigation .nav-next {
  float: right;
  margin-left: 5px;
}

.sf-navigation span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 12px 15px 0 0;
  background: #CCCCCC;
}

.sf-navigation span.sf-nav-done { background: #a6e6a6; }

.sf-navigation span.sf-nav-active { background: #00CC00; }

.sf-navigation span.sf-nav-error { background: #DD0000; }
