<!DOCTYPE>

<html>
    <head>
        <link rel='stylesheet' 
        type='text/css' 
        href='{{ url_for("static", filename="css/style.css") }}'>
    </head>
    <body>
        <nav class='navbar'>
            <ul class='left'>
                    <p>
                        <a href='#' class="name">NoteApp</a>
                        <a href="sources.html" class="name">Sources</a>
                    </p>
            </ul>
            <ul class='right'>
                <li>
                    <a href='#' class="name">+ New Note</a>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>