<!doctype html>
<meta http-equiv="Content-type" content="application/json; charset=UTF-8" />

<head>
<title>{% block title %}{% endblock %} - Flaskr</title>
{% block head %}{% endblock %}
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav class="navbar">
    
    <ul>
    <li class="left"><a href="{{ url_for('index') }}" class="home">Flaskr</a></li>
    <li class="left"><a href="{{ url_for('blog.experimen') }}" class="exp">Experiments</a></li>
    <li class="left"><a href="{{ url_for('blog.analysis') }}" class="analysis">Analysis</a></li>
    <li class="left"><a href="{{ url_for('blog.calibration') }}" class="calib">Calibration</a></li>
    <li class="left"><a href="{{ url_for('blog.scatter') }}" class="scatter">Scatter</a></li>
    <li class="left">
        <a href="{{ url_for('vocab.show') }}" class="vocaba">Vocab</a>
    </li>
    <li class="left">
        <a href="{{ url_for('vocab.stepform') }}" class="steform">StepForm</a>
    </li>

    {% if g.user %}
    <li class="right"><span>{{ g.user['username'] }}</span></li>
    <li class="right"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
    <li class="right"><a href="{{ url_for('auth.register') }}" class="reg">Register</a></li>
    <li class="right"><a href="{{ url_for('auth.login') }}" class="log">Log In</a></li> 
    {% endif %}
    
    </ul>
</nav>

<section class="content">
    <header>
    {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>